[Desktop Entry]
Name=Battery Level Graph
Type=Application
Comment=Battery Level Graph
Exec=/usr/lib/battery-graph/battery-stats-graph /var/log/battery-stats.csv
Icon=/usr/share/battery-stats/pixmaps/battery-stats.png
Terminal=false
Categories=Utility
