SUBSYSTEM=="power_supply", ACTION=="change", RUN+="/usr/share/battery-stats/collect-csv"
SUBSYSTEM=="power_supply", ACTION=="change", RUN+="/usr/sbin/battery-stats-collector -1"

SUBSYSTEM=="power_supply", ATTR{online}=="[01]", RUN+="/usr/share/battery-stats/collect-csv"
SUBSYSTEM=="power_supply", ATTR{online}=="[01]", RUN+="/usr/sbin/battery-stats-collector -1"
